.btn {
  height: 5.5rem;
  padding: 0 2.2rem;
  line-height: 5.5rem;
  position: relative;
  display: inline-block;
  letter-spacing: 0.5px;
  background-size: 100%;
  font: bold 1.6rem/1 --primary-font-family, sans-serif;
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  
  &:hover {
    &:after {
      height: 100%;
      -webkit-transition-delay: 250ms;
      transition-delay: 250ms;
    }

    span {
      &:nth-child(1):after,
      &:nth-child(2):after,
      &:nth-child(1):before,
      &:nth-child(2):before {
        -webkit-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
      }

      &:nth-child(1):before,
      &:nth-child(2):before {
        width: 100%;
      }

      &:nth-child(1):after,
      &:nth-child(2):after {
        height: 15px;
      }

      &:nth-child(1) {
        &:before,
        &:after {
          -webkit-transition-delay: 0;
          transition-delay: 0;
        }
      }

      &:nth-child(2) {
        &:before {
          -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
        }

        &:after {
          -webkit-transition-delay: 750ms;
          transition-delay: 750ms;
        }
      }
    }
  }
  
  svg {
    width: 3rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    transform: translate(-50%, -50%);
  }


  &:after {
    top: 0;
    right: 0;
    height: 0;
    width: 1px;
    content: "";
    opacity: 0.2;
    position: absolute;
    background-color: currentColor;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
  }

  span {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    &:nth-child(1):after,
    &:nth-child(2):after,
    &:nth-child(1):before,
    &:nth-child(2):before {
      left: 0;
      content: "";
      opacity: 0.2;
      position: absolute;
      background-color: currentColor;
      -webkit-transition: all 250ms ease-out;
      transition: all 250ms ease-out;
    }

    &:nth-child(1):before,
    &:nth-child(2):before {
      left: 0;
      width: 0;
      height: 1px;
    }

    &:nth-child(1):after,
    &:nth-child(2):after {
      height: 0;
      width: 1px;
    }

    &:nth-child(1) {
      &:after {
        top: 0;
        -webkit-transition-delay: 750ms;
        transition-delay: 750ms;
      }

      &:before {
        top: 0;
        -webkit-transition-delay: 750ms;
        transition-delay: 750ms;
        -webkit-transition-delay: 750ms;
        transition-delay: 750ms;
      }
    }

    &:nth-child(2) {
      &:after {
        bottom: 0;
      }

      &:before {
        bottom: 0;
        right: 0;
        left: unset;
        -webkit-transition-delay: 250ms;
        transition-delay: 250ms;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    font-size: 20px;
    height: 13.33vw;
    font-size: 5.33vw;
    padding: 0 6.66vw;
    line-height: 13.33vw;
  }
}

@media only screen and (max-width: 480px) {
  .btn:hover span {
    &:nth-child(1):after,
    &:nth-child(2):after,
    &:nth-child(1):before,
    &:nth-child(2):before {
      -webkit-transition: unset;
      transition: unset;
    }
  }
}

@media only screen and (max-width: 480px) {
  .btn:before {
    width: 8vw;
    left: -4vw;
    top: 5.86vw;
    height: 2.66vw;
    background-size: 8vw;
  }
}

@media only screen and (max-width: 480px) {
  .btn:after {
    height: 100%;
    -webkit-transition: unset;
    transition: unset;
  }
}

@media only screen and (max-width: 480px) {
  .btn span {
    &:nth-child(1):after,
    &:nth-child(2):after,
    &:nth-child(1):before,
    &:nth-child(2):before {
      -webkit-transition: unset;
      transition: unset;
    }
  }
}

@media only screen and (max-width: 480px) {
  .btn span {
    &:nth-child(1):before,
    &:nth-child(2):before {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .btn span {
    &:nth-child(1):after,
    &:nth-child(2):after {
      height: 10px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .btn span:nth-child(1) {
    &:after,
    &:before {
      -webkit-transition-delay: unset;
      transition-delay: unset;
    }
  }
}

@media only screen and (max-width: 480px) {
  .btn span:nth-child(1):before {
    -webkit-transition-delay: unset;
    transition-delay: unset;
  }
}
