.block--logos {
  margin: auto;
  max-width: 102.4rem;
  position: relative;

  @media (max-width: 767px) {
    padding: 0 2.5rem;
  }

  @media (max-width: 767px) and (orientation: landscape) {
    max-width: 45rem;
    padding: 10rem 0;
  }

  &__title {
    text-align: left;
    transform: translateY(40px);
    opacity: 0;
    @media (max-width: 767px) {
      padding: 0 var(--inner-padding-mobile);
    }

    @media (max-width: 767px) and (orientation: portrait) {
      display: block;
      font: normal bold 1.8rem/1 var(--heading-font-family);
      margin-bottom: 3.5rem;
    }

    @media (min-width:768px){
      text-align: left;
      margin-bottom: 3.5rem;
      font: normal bold 2.2rem/1 var(--heading-font-family);
    }
  }

  .logo {
    opacity: 0;
    transform: translateY(20%);
  }

  .logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    @media (min-width: 1024px) {
      padding: 1rem 0;
    }
    @media (max-width: 767px) {
      margin-bottom: 1.5rem;
    }
    @media (max-width: 767px) and (orientation: portrait) {
      width: 50%;
    }
    > img {
      display: inline-block;
      max-height: 7rem;
      max-width: 12rem;
      vertical-align: middle;
    }
  }
}
