* {
  cursor: none;
}

.circle-cursor {
  display: block;
  visibility: visible;
  opacity: 1;

  @media (max-width: 767px) {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 999999;

  &--outer {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--white);
    opacity: 0.5;
    border-radius: 50%;
    transition: width 0.4s var(--primary-ease), height 0.4s var(--primary-ease), opacity 0.4s ease-in-out;
  }

  &--inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s var(--primary-ease);
  }

  .cursor__main {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    pointer-events: none;
    background-color: var(--gold);
  }

  .cursor__video,
  .cursor__gallery,
  .cursor__close,
  .cursor__details {
    opacity: 0;
    visibility: hidden;
  }

  &.cursor {
    &--hover-link {
      transition: width 0.2s var(--primary-ease), height 0.2s var(--primary-ease);

      .circle-cursor--outer {
        width: 60px;
        height: 60px;
        background: var(--primary-gray);
      }

      .cursor__main {
        opacity: 0;
        visibility: hidden;
      }
    }
    &--hover-video {
      transition: width 0.2s var(--primary-ease), height 0.2s var(--primary-ease);

      .circle-cursor--outer {
        width: 60px;
        height: 60px;
        background: var(--primary-gray);
      }

      .cursor__main {
        opacity: 0;
        visibility: hidden;
      }

      .cursor__video {
        width: 1.6rem;
        height: 1.6rem;
        opacity: 1;
        visibility: visible;
        > img {
          min-width: 100%;
        }
      }
    }
    &--hover-gallery {
      transition: width 0.2s var(--primary-ease), height 0.2s var(--primary-ease);

      .circle-cursor--outer {
        width: 60px;
        height: 60px;
        background: var(--white);
      }

      .cursor__main {
        opacity: 0;
        visibility: hidden;
      }

      .cursor__gallery {
        width: 1.6rem;
        height: 1.6rem;
        opacity: 1;
        visibility: visible;
        > img {
          min-width: 100%;
        }
      }
    }
  }

  // .circle-cursor {
  //   transition: width 0.2s var(--primary-ease), height 0.2s var(--primary-ease);
  //   mix-blend-mode: difference;
  //   .circle-cursor--outer {
  //     width: 60px;
  //     height: 60px;
  //     border: 1px solid var(--white);
  //   }
  //   .cursor__main {
  //     opacity: 0;
  //     visibility: hidden;
  //   }
  //   .cursor__video {
  //     width: 1.6rem;
  //     height: 1.6rem;
  //     opacity: 1;
  //     visibility: visible;
  //     > img {
  //       min-width: 100%;
  //     }
  //   }
  // }

  &.wrapper-item-close {
    .circle-cursor {
      transition: width 0.2s var(--primary-ease), height 0.2s var(--primary-ease);

      .circle-cursor--outer {
        width: 60px;
        height: 60px;
        border: 1px solid var(--white);
      }

      .cursor__main,
      .cursor__video,
      .cursor__details {
        opacity: 0 !important;
        visibility: hidden !important;
      }

      .cursor__close {
        width: 1.6rem;
        height: 1.6rem;
        opacity: 1;
        visibility: visible;
        > img {
          min-width: 100%;
        }
      }
    }
  }

  &.wrapper-hover-details:not(.wrapper-item-details) {
    .circle-cursor {
      transition: width 0.2s var(--primary-ease), height 0.2s var(--primary-ease);
      mix-blend-mode: difference;
      .circle-cursor--outer {
        width: 60px;
        height: 60px;
        border: 1px solid var(--white);
      }

      .cursor__main {
        opacity: 0;
        visibility: hidden;
      }

      .cursor__details {
        width: 1.6rem;
        height: 1.6rem;
        opacity: 1;
        visibility: visible;
        > img {
          min-width: 100%;
        }
      }
    }
  }

  &.wrapper-hover-details.wrapper-item-details {
    .circle-cursor {
      transition: width 0.2s var(--primary-ease), height 0.2s var(--primary-ease);

      .circle-cursor--outer {
        width: 60px;
        height: 60px;
        border: 1px solid var(--white);
      }

      .cursor__main,
      .cursor__video,
      .cursor__details {
        opacity: 0 !important;
        visibility: hidden !important;
      }

      .cursor__close {
        width: 1.6rem;
        height: 1.6rem;
        opacity: 1;
        visibility: visible;
        > img {
          min-width: 100%;
        }
      }
    }
  }
}
