.contact-us {
  &__list {
    z-index: 1;

    @media (max-width: 767px) {
      padding: 9.5rem 0;
    }

    &__content {
      // font-size: 0;
      white-space: nowrap;
      width: 100%;
    }

    &__effect {
      position: relative;
      overflow: hidden;
      &:after {
        animation: grain 16s steps(10) infinite;
        background-image: url("/img/grain.png");
        content: "";
        height: 200%;
        left: -50%;
        opacity: 0.03;
        position: absolute;
        top: -50%;
        width: 200%;
      }
    }

    &__name {
      width: 100px;
      position: relative;
      border-right: 1px solid var(--gold);
      visibility: hidden;
      h2 {
        font-size: 5rem;
        color: var(--gold);
        transform: rotate(-90deg);
        transform-origin: 0 0;
        text-transform: uppercase;
        position: absolute;
        top: 100%;
        left: 50%;
      }
    }

    &__media {
      position: relative;
    }

    &__cover {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--primary-black);
      z-index: 1;
    }

    &__image {
      transform: scale(1.5);
      width: 100%;
    }

    &__box {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      padding-left: 2rem;
      padding-bottom: 2rem;
      text-align: left;
      p {
        + p {
          margin-top: 1.5rem;
        }
        span,
        li {
          font: normal bold 2rem/1.2 var(--primary-font-family);
          display: block;
          + span,
          + li {
            margin-top: 0.8rem;
          }
        }
      }
    }

    &__subtitle {
      font: 1.4rem var(--primary-font-family);
      > span {
        transform: translateY(40px);
        display: block;
        visibility: hidden;
      }
    }

    &__description {
      margin-top: 2rem;
      transform: translateY(40px);
      visibility: hidden;
      ul {
        li {
          font: normal bold 1.5rem/0.8 var(--primary-font-family);
          display: block;
          + span,
          + li {
            margin-top: 0.8rem;
          }
        }
      }
    }

    &__link {
      display: block;
      font: normal bold 1.4rem var(--primary-font-family);
      margin-top: 1.8rem;
      text-decoration: underline;
      text-transform: lowercase;
      transform: translateY(40px);
      visibility: hidden;
    }
  }

  &__list__item {
    width: 100%;
    display: table;
    margin: auto;
    max-width: 102.4rem;
    position: relative;
    z-index: 10;
    pointer-events: none;

    @media (max-width: 767px) {
      padding: 0 var(--inner-padding-mobile);
    }

    @media (max-width: 767px) and (orientation: landscape) {
      max-width: 45rem;
      padding: 10rem 0;
    }

    &__content {
      display: grid;
      grid-template-columns: auto 2fr;
      gap: 2rem;
    }
  }
}

@keyframes grain {
  0% {
    transform: translate(20%, -15%);
  }

  10% {
    transform: translate(-20%, -15%);
  }

  20% {
    transform: translate(20%, -5%);
  }

  30% {
    transform: translate(-20%, -5%);
  }

  40% {
    transform: translate(20%, 5%);
  }

  50% {
    transform: translate(-20%, 5%);
  }

  60% {
    transform: translate(20%, 15%);
  }

  70% {
    transform: translate(-20%, 15%);
  }

  80% {
    transform: translate(20%, 5%);
  }

  90% {
    transform: translate(-20%, 5%);
  }

  to {
    transform: translate(20%, -5%);
  }
}
