.belu-media-logo {
  position: fixed;
  z-index: 997;
  left: var(--inner-padding);
  top: 5rem;
  @media (max-width: 767px) {
    left: var(--inner-padding-mobile);
    top: 2.5rem;
  }

  display: inline-block;

  span {
    display: inline-block;
  }

  svg {
    fill: currentColor;
  }

  .identity {
    position: relative;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    .symbol {
      svg {
        height: 60px;
        @media only screen and (min-width: 480px) {
          height: 80px;
        }
      }
    }
    .letters {
      position: relative;
      height: 20px;
      display: flex;
      margin-bottom: 2px;
      > span {
        svg {
          height: 20px;
        }
      }
    }
  }
}
