body {

  &.hover-main-navigation .main-navigation__nav > ul > li > a {
    -webkit-text-stroke: 0.1rem rgba(255, 255, 255, 0.3);
    color: transparent;
  }
  &.desktop .main-navigation__nav > ul > li > a:hover {
    color: var(--white) !important;
  }

  /* ********************
    Navigation
    ******************** */

  .menu-icon {
    position: fixed;
    z-index: 997;
    top: 5rem;
    right: var(--inner-padding);
    @media(max-width:767px) {
      top: 2.5rem;
      right: var(--inner-padding-mobile);
    }
    height: 47px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    border: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    transition: letter-spacing 0.5s ease;
    color: currentColor;
    font-size: 1.5rem;
    font-weight: bold;

    svg {
      stroke: currentColor;
      fill: currentColor;
      margin-right: 1rem;
    }

    svg#menu-icon {
      transform: translate(0%);
      transition: transform 0.4s linear;
    }

    svg#menu-icon-close {
      transform: translate(100%);
      transition: transform 0.4s linear;
    }

    &:hover {
      letter-spacing: 0.2rem;
    }
  }

  &.nav-open {
    overflow: hidden;

    .page-navigation {
      color: var(--white);
    }

    .main-navigation {
      pointer-events: all;

      .aurora-logo {
        opacity: 1;
        visibility: visible;
        transition: opacity 1s 0.5s ease;
      }
      .menu-icon {
        opacity: 1;
        visibility: visible;
        transition: opacity 1s 0.5s ease,letter-spacing 0.5s ease;
      }
    }

    .page-canvas {
      transform: scale(0.8);
      transition: transform 0.95s var(--primary-ease);
    }
  }

  .main-navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 6.4rem;
    z-index: 998;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    color: var(--white);

    .aurora-logo {
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s 0.5s ease;
    }
    .menu-icon {
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s 0.5s ease;
    }

    &__wrapper {
      height: 100%;
      width: 100%;
    }
    &__inner {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
    }
    &__col {
      display: flex;
      align-items: center;
    }
    &__col--left {
      flex-basis: 75%;
      padding-left: 12.5%;
    }
    &__col--right {
      flex-basis: 25%;
      flex-direction: column;
      height: 52rem;
      padding: 3.2rem 0;
      align-items: flex-start;
      justify-content: space-evenly;
    }
    &__nav > ul > li {
      transform: translateY(100%);
      opacity: 0;
      position: relative;
      &:hover a {
        transition: color 0.4s cubic-bezier(0, 0, 0.2, 1);
        color: var(--white);
      }
    }
    &__nav > ul > li > a {
      font:900 normal 7.6rem/1 var(--heading-font-family, "Raleway, sans-serif");
      position: relative;
      display: inline-block;
      z-index: 1;
      color: var(--white);
      letter-spacing: -0.1rem;
      padding: 1.2rem 0;
      -webkit-text-stroke: 0.1rem transparent;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.4s ease-in-out;
    }
    &__nav > ul > li > a span {
      display: block;
      overflow: hidden;
    }

    &__details {
      transform: translateY(100%);
      opacity: 0;
      h4 {
        color: var(--white);
        font-size: 1.4rem;
        font-weight: bold;
        margin: 0 0 0.8rem 0;
      }
      ul {
        .space-top {
          margin-top: 1.6rem;
        }
        li {
          font-size: 1.6rem;
          line-height: 2.2rem;
          color: var(--primary-gray);
          a {
            text-decoration: none;
            color: var(--primary-gray);
          }
        }
      }
    }
    &__blinds {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: row;
    }
    &__blind {
      height: 0;
      background-color: var(--primary-black);
      flex-grow: 1;
    }
    &__blind--left,
    &__blind--right {
      width: 6.4rem;
      flex-grow: 0;
    }
    @media only screen and (max-width: 1200px) {
      &__col--left {
        padding-left: 0;
      }
      &__nav > ul > li a {
        font-size: 4.8rem;
        letter-spacing: 1.6rem;
      }
    }
    @media only screen and (max-width: 767px) {
      & {
        padding: 0;
      }
      &__inner:before {
        display: none;
      }
      &__nav > ul > li {
        text-align: center !important;
      }
      &__nav > ul > li a {
        font-size: 4.6rem;
        letter-spacing: 0.1rem;
        padding: 1rem 0;
      }
      &__col--left {
        flex-basis: 100%;
        justify-content: center;
        padding-bottom: 3.2rem;
      }
      &__col--right {
        display: none;
      }
      &__blind {
        display: none;
      }
      &__blind--left,
      &__blind--right {
        display: block;
        width: 50%;
      }
    }
  }
}
