.page-scroller {
  position: fixed;
  left: 6.8rem;
  bottom: 5rem;
  z-index: 997;
  display: flex;
  visibility: visible;
  @media(max-width:767px) {
    display: none;
    visibility: hidden;
  }
  align-items: center;
  text-transform: uppercase;
  transition: opacity 0.4s linear;

  &.page-scroller__hidden {
    opacity: 0;
  }

  > svg {
    stroke: currentColor;
  }
  
  @include animation(scroll-down, 2s, 0s, ease-in-out, infinite);
}

@include keyframe(scroll-down) {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
