/* ****************
    Page Footer
**************** */

.page-footer {
  background-color: var(--white);
  color: var(--primary-black);
  padding: 9rem 0;
  @media (max-width: 767px) {
    padding: 4rem 0;
  }
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z("page-footer");

  &__inner {
    position: relative;
    max-width: 102.4rem;
    margin: 0 auto;
    @media (max-width: 767px) {
      padding: 0 var(--inner-padding-mobile);
    }
  }

  &__top,
  &__bottom {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    display: grid;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    
  }

  &__bottom {
    grid-template-columns: auto;
    margin-top: 4rem;
    ul {
      li{
        display: inline;
        + li{
          margin-left: 2rem;
        }
        a{
          font: normal bold 1.2rem/1.2 var(--primary-font-family, "Raleway, sans-serif");
          transition: color .25s var(--base-ease);
          &:hover{
            color: var(--primary-gray);
          }
        }
      }
    }
  }

  &__top,
  &__bottom {
    .page-footer__col {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      @media(max-width:767px) {
        margin-bottom: 2.4rem;
      }
    }
  }

  &--title {
    font: normal bold 3rem/1.2 var(--secondary-font-family, "Raleway, sans-serif");
  }

  &--title {
    font: normal bold 3rem/1.2 var(--secondary-font-family, "Raleway, sans-serif");
  }

  .footer__title {
    display: block;
    font: bold 1.8rem/0.9 var(--primary-font-family, "Raleway, sans-serif");
  }

  .footer__text {
    color: var(--secondary-gray);
    font: 1.4rem/1.3 var(--primary-font-family, "Raleway, sans-serif");
    padding-top: 2rem;
  }
}