.page-content {
  position: relative;
  z-index: z("page-content");
  overflow: hidden;
  visibility: hidden;

  .section-container {
    height: 100%;
    position: fixed;
    width: 100%;
    &.footer-visible {
      .section {
        pointer-events: none;
      }
    }
  }

  .section-titles {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .home,
    .culture,
    .contacts,
    .default {
      &__page-title {
        visibility: hidden;
      }
    }
  }

  .home,
  .culture,
  .contacts,
  .default {
    &__page-title {
      font: oblique bold 18rem/0.8 var(--secondary-font-family, "Raleway, sans-serif");
      @media (max-width: 767px) and (orientation: portrait) {
        font-size: 0;
      }
      left: 50%;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      width: 100%;
      > span {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .home {
    &__page-title {
      &.who-we-are {
        color: rgba(237, 211, 130, 0.5);
      }
      &.clients {
        color: rgba(237, 211, 130, 0.5);
      }
    }
  }

  .culture {
    &__page-title {
      &.our-culture {
        color: rgba(231, 227, 227, 0.3);
      }
      &.belu-media-team{
        color: transparent;
      }
    }
  }

  .default {
    &__page-title {
      &.privacy-policy {
        color: var(--primary-gray);
      }
    }
  }

  .contacts {
    &__page-title {
      &.contact-us {
        color: transparent;
      }
      &.locations {
        color: var(--primary-gray);
      }
    }
  }
}
