.section-componentblocksblockvideo,
.section-componentblocksblocktext,
.section-componentblocksblockclients,
.section-componentblocksblocklocations,
.section-componentblocksblockteam{
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.section-componentblocksblockvideo,
.section-componentblocksblocktext,
.section-componentblocksblockclients,
.section-componentblocksblockteam,
.section-componentblocksblocklocations{
  display: table;
  .section__inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    .block--content {
      display: inline-block;
      position: relative;
      z-index: 2;
      max-width: 91.5rem;
      width: 100%;
      @media (max-width: 767px){
        padding: 0 var(--inner-padding-mobile);
      }
    }
  }
}

.section-componentblocksblockvideo,
.section-componentblocksblocktext,
.section-componentblocksblockclients,
.section-componentblocksblocklocations{
  .text,
  .long--text {
    &__title {
      display: none;
      @media (max-width: 767px) and (orientation: portrait) {
        font: normal bold 1.8rem/1 var(--primary-font-family);
        display: block;
        margin-bottom: 3.5rem;
      }
    }
  }
}

.section-componentblocksblockvideo{
  color: var(--white);
  .text{
    &__title,
    &__paragraph{
      color: var(--white);
      text-align: center;
    }
  }
}

.section-componentblocksblocktext{
  .text{
    &__title,
    &__paragraph{
      color: currentColor;
      text-align: center;
    }
  }
}

.section-componentblocksblockvideo{
    .block{
      &--video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
}