/* ****************
      Text Component
**************** */

.text {
  width: 100%;
  display: table;
  margin: auto;
  max-width: 102.4rem;
  position: relative;
  z-index: 10;
  pointer-events: none;

  @media (max-width: 767px) {
    padding: 0 var(--inner-padding-mobile);
  }

  @media (max-width: 767px) and (orientation: landscape) {
    max-width: 45rem;
    padding: 10rem 0;
  }

  &__columns {
    display: flex;
    &--column {
      &:first-child {
        flex: 1;
      }
      &:last-child {
        flex: 3;
        p {
          font: 3.2rem/1.4 var(--primary-font-family, "Muli, sans-serif");
          @media (max-width: 767px) {
            font-size: 2.4rem;
            line-height: 1.2;
          }
        }
      }
    }
  }

  &__subtitle {
    font-family: var(--heading-font-family, "Raleway, sans-serif");
    color: var(--primary-dark-gray);
    font-weight: 400;
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
    line-height: 1;
    margin: 0 0 1.6rem 0;
    text-transform: capitalize;
    h3 {
      opacity: 0;
      transform: translateY(40px);
    }
  }

  &__title {
    font-family: var(--secondary-font-family, "Raleway, sans-serif");
    text-align: left;
  }

  &__paragraph {
    text-align: left;
    width: 100%;
    overflow: hidden;
    color: var(--primary-dark-gray);
    margin-top: 8rem;
    @media (max-width: 767px) {
      margin-top: 0;
    }

    &.text__button {
      padding-top: 4rem;
      overflow: visible;
    }

    &:last-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    > p {
      line-height: 40px;
      span {
        display: inline-block;
        opacity: 0;
        transform: translateY(40px);
      }
    }

    a {
      transform: translateY(100%);
    }
    .btn{
      opacity: 0;
    }
  }
}


.long--text {
  width: 100%;
  display: table;
  position: relative;
  z-index: 10;
  pointer-events: none;
  padding: 10vh 0;
  @media (max-width: 767px) {
    padding: 10vh var(--inner-padding-mobile);
  }

  @media (max-width: 767px) and (orientation: landscape) {
    max-width: 45rem;
    padding: 10rem 0;
  }

  .text__inner{
    margin: auto;
    max-width: 54.2rem;
  }

  .text__columns {
    display: flex;
    &--column {
      h1,
      h3 {
        font: bold 1.4rem/1.5 var(--heading-font-family, "Muli, sans-serif");
        margin: 3rem 0;
      }
      p {
        font: 1.4rem/1.5 var(--primary-font-family, "Muli, sans-serif");
      }
    }
  }

  .text__title {
    font-family: var(--secondary-font-family, "Raleway, sans-serif");
    text-align: left;
  }

  .text__paragraph {
    text-align: left;
    width: 100%;
    color: var(--primary-dark-gray);
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
}
