.title {
  &--wrapper {
    text-align: center;
  }
  &--header__title {
    display: inline-block;
    margin: auto;
    position: relative;
  }
  &--header__highlight {
    font: oblique 700 16rem/1 var(--heading-font-family, "Raleway, sans-serif");
    color: var(--white);
    margin-right: 14.5rem;
    opacity: 0;
    @media (max-width: 767px) {
      font-size: 8.5rem;
      margin-right: 8rem;
    }
  }

  &--header__text {
    font: oblique 700 2.75rem/1.2 var(--heading-font-family, "Raleway, sans-serif");
    color: var(--white);
    margin-top: -0.3rem;
    position: absolute;
    right: 0;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    
    @media (max-width: 767px) {
      font-size: 1.4rem;
      margin-top: 0.1rem;
    }

    span {
        opacity: 0;
        transform: translateY(50%);
        display: block;
    }
  }
}
