.section-contact-us-hero {
  .text {
    max-width: 102.4rem;
    margin: auto;
    &__columns--column {
      display: grid;
      grid-template-columns: 1fr 2fr;
      @media (max-width:767px) {
        grid-template-columns: 1fr;
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:last-child {
        margin: 0;
        p{
            font: 4rem/1.4 var(--primary-font-family, "Muli, sans-serif");
            @media (max-width:767px) {
              font-size: 1.8rem;
            }
            margin: 0;
        }
      }
    }
    &__title {
      font: oblique bold 11.2rem/1 var(--secondary-font-family, "Raleway, sans-serif");
      color: var(--white);
    }
    &__paragraph {
      color: var(--white);
    }
  }
}
