.section-componentblocksblockvideo {
  .block--video {
    opacity: 0;
    will-change: transform;
    canvas{
      display: none;
    }
    video {
      bottom: 0;
      height: 100%;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  .block--content {
    color: #fff;
    svg {
      display: block;
      margin: auto;
    }

    > div {
      svg {
        fill: currentColor;
        animation: fill 1s ease forwards 2.6s;
        path {
          fill-opacity: 1;
          stroke: transparent;

          &:nth-child(1) {
            stroke-dasharray: 621;
            stroke-dashoffset: 621px;
            animation: dash 2s ease forwards;
          }
          &:nth-child(2) {
            stroke-dasharray: 789;
            stroke-dashoffset: 789px;
            animation: dash 2s ease forwards 0.3s;
          }
          &:nth-child(3) {
            stroke-dasharray: 1076;
            stroke-dashoffset: 1076px;
            animation: dash 2s ease forwards 0.6s;
          }
          &:nth-child(4) {
            stroke-dasharray: 1396;
            stroke-dashoffset: 1396px;
            animation: dash 2s ease forwards 0.9s;
          }
          &:nth-child(5) {
            stroke-dasharray: 1531;
            stroke-dashoffset: 1531px;
            animation: dash 2s ease forwards 1.2s;
          }
          &:nth-child(6) {
            stroke-dasharray: 1486;
            stroke-dashoffset: 1486px;
            animation: dash 2s ease forwards 1.5s;
          }
          &:nth-child(7) {
            stroke-dasharray: 2766;
            stroke-dashoffset: 2766px;
            animation: dash 2s ease forwards 1.8s;
          }
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
            stroke: currentColor;
          }
        }
        @keyframes fill {
          to {
            fill: currentColor;
          }
        }
      }
    }
  }
}