@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

body,
html {
  height: 100%;
  position: fixed;
  width: 100%;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  overscroll-behavior: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: var(--primary-font-family, "Raleway, sans-serif");
  background-color: var(--body-background, "#EDD382");
  color: var(--body-color, "#000");
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

strong {
  font-weight: 700;
}